apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: sanjoydeb0007/robendevs-backend:latest
        ports:
        - containerPort: 8000
        env:
        - name: NODE_ENV
          value: "production"
        - name: SESSION_ENCRYPT_SECRET
          valueFrom:
            secretKeyRef:
              name: app-secret
              key: SESSION_ENCRYPT_SECRET
        - name: SESSION_ALGORITHM
          valueFrom:
            secretKeyRef:
              name: app-secret
              key: SESSION_ALGORITHM
        # Add other env vars as needed
